

<div class="loginBox">
    <h2>Recuperar Contraseña</h2>
  
  <form (ngSubmit)="onSubmit()" [formGroup]="user"> 
    <div>
      <label for="username">Usuario</label>
      <input type="text" id="username" name="username" required formControlName="username">
      <div *ngIf="user.get('username')?.invalid && user.get('username')?.touched" style="color:brown ;">
          Este campo es requerido
      </div>
    </div>
    <div>
      <label for="password" >Nueva Contraseña</label>
      <input type="password" id="password" name="password" required formControlName="password">
      <div *ngIf="user.get('password')?.invalid && user.get('password')?.touched" style="color:brown ;">
        Este campo es requerido
    </div>
    </div>
  
  <button class="sumbit" type="submit"  class="btn btn-dark" [disabled]="user.invalid">Ingresar</button>
  </form>
  </div>
  
