<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
</head>

<body>

    <header class="header">
        <div class="header-content">
            <nav>
                <ul class="nav-links">
                    <li><a href="">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="https://www.paypal.com/donate/?hosted_button_id=S2MHGN49RVBTJ">Donate</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">.
        <router-outlet></router-outlet>
    </div>
    <footer>

        <div class="ftr">
            <p>Hecho con amor by firework team ❤️❤️❤️</p>
            <p style="font-weight: bold;">Redes Sociales:</p>
        <a href="https://www.facebook.com/Silicon-Emporium-101172692829561" style="padding-left: 1%;">
            <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i>
        </a>
        <a href="https://twitter.com/SiliconEmporium" style="padding-left: 1%;">
            <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
        </a>
        <a href="https://www.instagram.com/silicon_emporium/" style="padding-left: 1%;">
            <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
        </a>
        </div>
        
    </footer>
</body>