<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
           <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

<body>
    <div class="container">.
        <router-outlet></router-outlet>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Diseño</a></li>
                            <li><a href="#">Desarrollo</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Sobre</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="/team">Equipo</a></li>
                            <li><a href="#">propósito</a></li>
                            <li><a href="https://drive.google.com/file/d/1JgtSQV4SlDdcK-XHjji2ARrPm3oMJsVK/view?usp=sharing">Manual de Usuario</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Silicon Emporium</h3>
                        <p>Nuestro propósito es proveer una página web de fácil manejo en la que los usuarios puedan realizar la búsqueda de productos relacionados a la computación con la seguridad de que van a encontrar las mejores referencias en cuanto a precio y calidad se reﬁere.</p>
                        <p>Nuestro propósito proveer una página web de fácil manejo en la que los usuarios puedan realizar la búsqueda de productos relacionados a la computación con la seguridad de que van a encontrar las mejores referencias en cuanto a precio y calidad se reﬁere.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/Silicon-Emporium-101172692829561"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/SiliconEmporium"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/silicon_emporium/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Silicon Emporium © 2022</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
        <li *ngIf="username" style="color: #fff;"> {{username}} </li>
<li><a href="">Inicio</a></li>
<li *ngIf="username"><a href="/search">Buscar</a></li>
<li *ngIf="!username"><a href="/login">Ingresar</a></li>
<li *ngIf="!username"><a href="/register">Registrarse</a></li>
<li *ngIf="username" (click)="logout()"><a>Salir</a></li>
<li><a href="https://www.paypal.com/donate/?hosted_button_id=S2MHGN49RVBTJ">Donar</a></li>
</ul>
</div>

</body>
