<p class="popout">
	<span>E</span>
	<span>Q</span>
	<span>U</span>
	<span>I</span>
  <span>P</span>
  <span>O</span>
  <br>
	
</p>




<div class="container">

    <div class="zoom">
    <div class="card">
      <div class="card-header">
        <img src="https://lh3.googleusercontent.com/a/ALm5wu2hkymeBBcRB83korsMrLbIj6hN7VO3q5-OtXF-4w=s288-p-rw-no" alt="rover" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Back-End</span>
        <h4>
            Gabriel Santana
        </h4>
        <p>
            Estudiante de Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia
        </p>
        <div class="user-info">
            <h5>gsantana@unal.edu.co</h5>
            <small>2022</small>
          </div>
      </div>
    </div>
</div>



<div class="zoom">
    <div class="card">
      <div class="card-header">
        <img src="https://lh3.googleusercontent.com/a/ALm5wu3AqMO4SvcNzJt7WHCT53f2tNnZpHrS7pmfZIDCwA=s288-p-rw-no" alt="ballons" />
      </div>
      <div class="card-body">
        <span class="tag tag-pink">Front-End</span>
        <h4>
            Santiago Acosta
        </h4>
        <p>
            Estudiante de Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia
        </p>
        <div class="user-info">
            <h5>sacostaa@unal.edu.co</h5>
            <small>2022</small>
          </div>
      </div>
    </div>
</div>

<div class="zoom">
    <div class="card">
      <div class="card-header">
        <img src="https://lh3.googleusercontent.com/a/ALm5wu29oPNZ_NsBz4QxzYuJgltSJfSAbf2M9pHtl1NSBg=s288-p-rw-no" alt="city" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Back-End</span>
        <h4>
            Diego Alejandro Rodriguez
        </h4>
        <p>
            Estudiante de Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia
        </p>
        <div class="user-info">
            <h5>alerodriguezmar@unal.edu.co</h5>
            <small>2022</small>
          </div>
      </div>
    </div>
</div>
<div class="zoom">
    <div class="card">
        <div class="card-header">
          <img src="https://lh3.googleusercontent.com/a/ALm5wu0tQHg8PUV0a2L-m-TYp6Ny4oOA0dQyy62f6xd3Hg=s288-p-rw-no" alt="city" />
        </div>
        <div class="card-body">
          <span class="tag tag-pink">Front-End</span>
          <h4>
            Juan Pablo Lozano
          </h4>
          <p>
            Estudiante de Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia
          </p>
          <div class="user-info">
            <h5>julozanoa@unal.edu.co</h5>
            <small>2022</small>
          </div>
        </div>
      </div>
</div>