
.padre{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #71727B;
    position: relative;
}

.login{
    width: 40%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #333440;
}

.usuario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.text_usuario{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_usuario h1{
    width: 100%;
    height: 100%;
    color: #F1C40F;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.input_usuario{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    text-align: center;
    border: 1px solid #F1C40F;

}

.input_usuario .input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 50px;
    border: 1px solid #F1C40F;
    outline: none;

}

.input_usuario .input input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
}

.input_usuario:hover{
    box-shadow: -1px 1px 6px #F1C40F
}

.password{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text_password{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_password h1{
    width: 100%;
    height: 100%;
    color: #F1C40F;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center
}
.input_password{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    text-align: center;
    border: 1px solid #F1C40F;
}

.input_password .input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 50px;
    border: 1px solid #F1C40F;
    outline: none;
}
.input_password .input input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
}

.input_password:hover{
    box-shadow: -1px 1px 6px #F1C40F
}
.info{
    width: 50%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #71727B;
    margin: 50px;
}
.boton_login{
    width: 100%;
}
.boton_login button{
    border-radius: 10px;
    width: 30%;
    background-color: #F1C40F;
    font-size: 25px;
    font-weight: bold;
    color: #333440;
}
.boton_login :hover{
    box-shadow: -1px 1px 6px #F1C40F;
    border-radius: 10px;
}

.logo{
    width: 330px;
}
.forgot{
    width: 300px;
}
.no_account{
    width: 300px;
}
.register{
    width: 300px;
    display: flex;
    justify-content: center;
}

.forgot h1{
    color: #F1C40F;
    font-weight: bold;
}
.no_account h1{
    color: #F1C40F;
    font-weight: bold;
}


.logo img{
    width: 75px;
}

.bienvenido h1{
    font-size: 50px;
    font-weight: bold;
    color: #F1C40F;
}

.register nav ul li a{
    font-size: 13px;
    color: #F1C40F;
    display: flex;
}

.register nav ul li:nth-child(1) a{
    font-size: 25px;
    font-weight: bold;
    color: #F1C40F;
}

/* Responsive design - adaptable a dispositivos moviles*/

@media screen and (max-width: 400px){
    .padre{
        width: 80%;
        margin: 10%;
    }
    .login{
        width: 90%;
        margin: 0;
    }
}