<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#333440;">
    <div class = "container">
        <section>
            <article class = "logo">
                <img src="./assets/logo.png" alt="logo">
            </article>
            <article>
                <h1>
                    <br>
                </h1>
            </article>
            <article class="textop">
                <h1>
                    ¿Que deseas buscar hoy?                
                </h1>
                <br>
            </article>
            <article class= "search">
                <div class="search__box">
                    <input type="text">
                </div>
            </article>
            <article class="textop2">
                <h1>
                    Ingrese el producto que desea buscar               
                </h1>
            </article>
        </section>
    </div>
</body>

